.hero-banner {
	overflow: hidden;
}
.hero-banner::after {
	content: '';
	background: rgb(245, 233, 255);
	background: linear-gradient(
		180deg,
		rgba(245, 233, 255, 0) 0%,
		rgba(23, 37, 84, 0.99) 80%
	);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.banner-content h3 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

.search {
	border-radius: 50px;
	overflow: hidden;
	height: 50px;
}

.search > * {
	height: 100%;
}

.search input {
	outline: none;
}

.hero-banner > img {
	width: 100%;
	height: 100%;
}

.tab-bg-chnger {
	transition: 0.4s all;
}
